TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
LEAD_EMAIL_TO=beriobed2025@gmail.com
LEAD_WEBHOOK_URL=
NEXT_PUBLIC_YANDEX_METRIKA_ID=
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
NEXT_PUBLIC_SITE_URL=https://landing.beriobed.ru
